<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Monitis2GoogleDocs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Monitis2GoogleDocs.Properties.Settings>
            <setting name="googleDocSpreadSheetName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsGoogleDocSpreadSheetCreated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="googleUser" serializeAs="String">
                <value />
            </setting>
            <setting name="googlePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="googeSpreadsheetNameRequired" serializeAs="String">
                <value>Spreadsheet name required</value>
            </setting>
            <setting name="monitisApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLoggedOnToGoogle" serializeAs="String">
                <value>False</value>
            </setting>
        </Monitis2GoogleDocs.Properties.Settings>
    </userSettings>
</configuration>